{% extends "sentimental/base.html" %}

{% block extracss %}
    header {
        display: none
    }
    body {
        background: #111;
    }
    #title, .count, .help {
        position: absolute;
        padding: 20px;
        padding-bottom: 30px;
        background: #eee;
        border: 1px solid #ddd;
    }
    #title {
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
    }
    .help {
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
    }
    body div.count {
        top: 0;
        right: 0px;
        display: none;
        background: transparent;
        border: none;
        padding-right: 10px;
        width: 70px;
    }
    .counter {
    }
    #title h1 {
        color: #555;
        font-weight: normal;
    }
    #sentences {
        height: 331px;
        position: absolute;
        width: 960px;
        margin-left: -460px;
        margin-top: -165px;
        top: 50%;
        left: 50%;
        overflow: hidden;
    }
    .sentence {
        height: 261px;
        padding: 20px;
        border: 10px solid #999;
        
        margin: 10px 0;
        background: #eee;
    }
    .sentence p.meta {
        font-size: 14px;
        color: #999;
        text-align: right;
    }
    .sentence ul li {
        list-style: none;
        padding-right: 10px;
        display: inline;
    }
    .sentence ul {
        text-align: right;
    }
    .sentence ul a {
        padding: 10px;
        color: white;
        font-weight: bold;
        text-decoration: none;
        opacity: 0.7;
    }
    .sentence p {
        font-size: 25px;
        height: 80px;
        line-height: 1.5;
    }
    .sentence ul a:hover {
        opacity: 1;
    }
    .negative {
        background: red;
        
        border: 5px solid #b1002e;
        
    }
    .neutral {
        background: orange;
        border: 5px solid #b17000;
        
    }
    .positive {
        background: green;
        border: 5px solid #1e4b06;
    }
    .close {
        background: black;
        border: 5px solid #333;
    }
    .choice_1 {
        background: green;
        color: black;
        border: 5px solid #444;
    }
    .choice_2 {
        background: red;
        border: 5px solid #444;
    }
    .choice_3 {
        background: #f1bb40;
        border: 5px solid yellow;
        color: black;
    }
    .choice_4 {
        background: #f33e63;
        border: 5px solid red;
    }
    .choice_5 {
        background: #d8e932;
        border: 5px solid yellow;
        color: black;
    }
    .choice_6 {
        background: #f1d786;
        border: 5px solid #333;
        color: black;
    }
{% endblock %}

{% block before_container %}
    <div id="title">
        <h1>Training the Bayes for the {{ project.name }} project</h1>
        <a href="{% url sentimental_index %}">« Back to overview</a>
    </div>
    <div class="count"><span class="counter"></span> answered</div>
    <div class="help" style="display: none;">
        <p>Answer using the buttons. If you don't know the answer, press the <a class="close" style="color: white; padding: 10px;">I don't know</a> button</p>
    </div>
{% endblock %}

{% block content %}
    
    <div id="sentences">
        
    </div>
    
    <script>
        $(document).ready(function() {
            function loadData() {
                if ($(".sentence").length > 3) {
                    return;
                }
                if ($('.sentence').length == 0) {
                    s = '0';
                } else {
                    s = $($('.sentence')[$(".sentence").length-1]).attr('rel');
                }
                $.post('{% url sentimental_trainer_fetch %}', {'project': {{ project.id }}, 'id': s}, function(data) {
                    $("#sentences").append(data);
                });
            }
            var counter = 1;
            setInterval(loadData, 4000);
            loadData();
            
            $(document).keypress(function(event) {
                var elm = null;
                if (event.charCode == 97) {
                    elm = $('.choice_1');
                }
                if (event.charCode == 115) {
                    elm = $('.choice_2');    
                }
                if (!(elm == null)) {
                    sentence = $(elm).parent().parent().attr('rel')
                    $.post('{% url sentimental_trainer_register %}', {'sentence': sentence, 'classification': $(elm).attr('rel')}, function(data) {
                        console.log(data);
                        counter++;
                    });
                    $(elm).parent().parent().remove();
                    $(".count").show();
                    $(".counter").html(''+counter);
                }
            });
            
            $('.sentence a').live('click', function(event) {
                loadData();
                event.preventDefault();
                rel = $(this).attr('rel');
                if (rel == 'close') {
                    $(this).parent().parent().parent().remove();
                    return;
                }
                sentence = $(this).parent().parent().parent().attr('rel');
                $.post('{% url sentimental_trainer_register %}', {'sentence': sentence, 'classification': rel}, function(data) {
                    console.log(data);
                    counter++;
                });
                $(this).parent().parent().parent().remove();
                $(".count").show();
                $(".counter").html(''+counter);
            });
        });
    </script>
{% endblock %}